DATABASE_URL=postgres://qcm_app:<password>@localhost:5432/qcm_db_test
TEST_BASE_URL=http://localhost:3001

TEACHER_EMAIL=enseignant@test.local
TEACHER_PASSWORD=Test1234!
ADMIN_PED_EMAIL=admin-ped@test.local
ADMIN_PED_PASSWORD=Test1234!
DIRECTEUR_EMAIL=directeur@test.local
DIRECTEUR_PASSWORD=Test1234!
